@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-laranja {
  background-color: #ffa000;
}

.colorOrange {
  color: #ffa000;
}

.upper {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-top: 5px;
}

.forma-pagto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.caixa-pagto {
  border: 3px solid #ffa000;
  text-align: center;
  height: 180px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-black {
  color: #000;
  font-weight:bold;
}

.caixa-pagto i {
  font-size: 25px;
}

.card-img {
  width: 70px;
}

.rodape-novo {
  background-color: #000;
  color: #fff;
  font-family: 'Open Sans', serif; 
  letter-spacing: 0.8px;
}

.rodape-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo {
  font-size: 20px;
}

.pagto-selos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px;
}

.pagamento, .selo {
  width: 50%;
}

.gateways-rodape, .selo ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.rodape-container ul {
  list-style-type: none;
}

.rodape-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0;
}

.informacoes {
  align-self: flex-start;
}

.info-list {
  margin-top: 20px;
}

.logo-rodape a img {
  margin: auto;
  max-width: 200px;
  position: relative;
  left: -12px;
}

.box {
  max-width: 290px;
}

.box ul {
  padding: 10px 0;
}

.rodape-novo p {
  font-size: 16px;
}

.rodape-novo a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}

.rodape-novo a:hover {
  color: #555;
}

.contato {
  margin-top: 20px 0px;
}

.rede-social ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  font-size: 20px;
}

.rodape-copy {
  background-color: #fff;
  border-top: 1px solid #ddd;
  font-size: 11px;
}

.rodape-copy p {
  color: #555;
  font-size: 11px;
  text-align: center;
}

@media screen and (max-width: 780px) {
  .caixa-pagto {
    width: 720px;
    height: 120px;
    line-height: 1;
  }

  .forma-pagto img {
    max-width: 600px;
  }

  .rodape-novo p {
    margin-top: 5px;
  }

  .rodape-container {
    align-items: center;
    overflow: hidden;
  }

  .box {
    max-width: 400px;
  }

  .box ul {
    padding: 0;
  }
  
  .titulo {
    display: flex;
    font-size: 25px;
  }

  .rodape-info {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .rede-social ul{
    margin: 50px 0px;
  }

  .pagto-selos {
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
  }

  .pagto-selos .titulo {
    margin-bottom: 10px;
  }

  .pagto-selos img {
    margin-bottom: 10px;
  }
  
  .logo-rodape a img {
    width: 200px;
  }

  .rodape-copy p {
    color: #555;
    font-size: 15px;
    text-align: center;
  }
}